extends layout.pug
block content
  main
    section
      h1 Chris Lawton
      hr
      h2 Interests and Activities
      ul
        li
          | Sharpening my tech skills at 
          a(href="https://www.freecodecamp.org/clawton") freeCodeCamp
        li
          | Not much in my
          a(href="https://github.com/lawtonchris") GitHub
          | . The code for this site is there. More to come.
        li
          | Certified ScrumMaster
          img(src="/images/sa-csm-600.png", alt="Certified ScrumMaster icon", width="50px")
        li
          a(href="https://www.goodreads.com/user/show/917740-chris") Reading
        li
          a(href="https://www.strava.com/athletes/57775061") Cycling and Running
        li
          a(href="swimReport") Swim Report
        li
          a(href="https://www.fitbit.com/user/6R7WXS") Fitbit Profile
        li
          a(href="https://open.spotify.com/user/di4xwxfe5v48r9i5cu4gppt7f?si=30d01deb602e4cfc") Spotify Profile
        li
          | Lots of viewing, not a lot of sharing on 
          a(href="https://www.youtube.com/@clawton1") YouTube
    hr
    section
      h2#about About Me
      .aboutme
        | I strive for a healthy balance of mind and body health. My active lifestyle includes swimming, running, hiking, camping and a general passion for the outdoors. I’m always on the go with my family of 2 active children.
        //- img(src="Profile Picture.jpg", alt="profile", width="200px")
    section
      hr


