doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Chris Lawton
    link(rel="stylesheet", href="/stylesheets/styles.css")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Rye&display=swap")
    link(rel="stylesheet", href="./font-awesome-4.7.0/font-awesome-4.7.0/css/font-awesome.css")
  
  body
    header
      //-
        nav
          .topnav
            ul.menu
              li.menuitem
                a(href="#", title="Home") Home
              li.menuitem
                a(href="#career", title="Career") Career
              li.menuitem
                a(href="#about", title="About") About
              li.menuitem
                a(href="#blog", title="Blog") Blog

    //-
      img.profile-image(src="Profile Picture.jpg", alt="A glance at me!")
      h1.tag.name Welcome to my portfolio.
      p.tag.location

    main
      section
        h1 Chris Lawton
        hr
        h2 Interests and Activities
        ul
          li
            | Sharpening my tech skills at 
            a(href="https://www.freecodecamp.org/clawton") freeCodeCamp
          li
            | Not much in my
            a(href="https://github.com/lawtonchris") GitHub
            | . The code for this site is there. More to come.
          li
            | Certified ScrumMaster
            img(src="/images/sa-csm-600.png", alt="Certified ScrumMaster icon", width="50px")
          li
            a(href="https://www.goodreads.com/user/show/917740-chris") Reading
          li
            a(href="https://www.strava.com/athletes/57775061") Cycling and Running
          li
            a(href="swimReport") Swim Report
          li
            a(href="https://www.fitbit.com/user/6R7WXS") Fitbit Profile
          li
            a(href="https://open.spotify.com/user/di4xwxfe5v48r9i5cu4gppt7f?si=30d01deb602e4cfc") Spotify Profile
          li
            | Lots of viewing, not a lot of sharing on 
            a(href="https://www.youtube.com/@clawton1") YouTube
      hr
      section
        h2#about About Me
        .aboutme
          | I strive for a healthy balance of mind and body health. My active lifestyle includes swimming, running, hiking, camping and a general passion for the outdoors. I’m always on the go with my family of 2 active children.
          //- img(src="Profile Picture.jpg", alt="profile", width="200px")
      section
        hr

    footer
      div
        a(href="https://www.linkedin.com/in/christopherrlawton/")
          i.fa.fa-linkedin(aria-hidden="true")
        a(href="https://www.facebook.com/lawtonc/")
          i.fa.fa-facebook(aria-hidden="true")
        a(href="https://x.com/clawton")
          i.fa.fa-twitter(aria-hidden="true")
