<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="styles.css"/>
	<link rel="preconnect" href="https://fonts.googleapis.com"/>
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link href="https://fonts.googleapis.com/css2?family=Rye&display=swap" rel="stylesheet"/>
     <link rel="stylesheet" href="./font-awesome-4.7.0/font-awesome-4.7.0/css/font-awesome.css">
    <title>Open Water Swim Report</title>
</head>
    <body>
    <header>
    </header>
    <main>
        <h1>Open Water Swim Report</h1>
        <h2>Water Temp</h2>
<div  class="oceanData" id="waterTemp"><%= waterTemp %></div>
<h2>Air Temp</h2>
<div  class="oceanData" id="airTemp"><%= airTemp %></div>
<h2>Wind</h2>
<span  class="oceanData" id="windSpd"><%= windSpd %></span>mph at <span  class="oceanData" id="windSpd"><%= windDir %></span> Degrees
    </main>

</body>

</html>



